<div id="container">

	<h3>Contact</h3>
	<p>Interested in learning more about NSHS News? Have ideas or suggestions for future improvments?</p>
	<p>
		<a href="mailto:matt.dahl.2013@gmail.com"><img src="../assets/images/gmail.png" /></a> Email me at <a href="mailto:matt.dahl.2013@gmail.com">matt.dahl.2013@gmail.com</a>.
	</p>
	<p>
		<a href="https://github.com/mattdahl"><img src="../assets/images/github.png" /></a> Follow me on <a href="https://github.com/mattdahl">GitHub</a>.
	</p>
	<p>
		<a href="http://www.linkedin.com/pub/matt-dahl/7b/359/492"><img src="../assets/images/linkedin.png" /></a> Connect with me on <a href="http://www.linkedin.com/pub/matt-dahl/7b/359/492">LinkedIn</a>.
	</p>

	<br />
	<hr class="divider" />
	<br />

</div>