<img class="arrow sequence-prev" src="../assets/images/left_arrow.png" />
<div id="sequence-theme">
	<div id="sequence">
		<ul class="sequence-canvas">
			<li class="animate-in">
				<img class="screenshot_1" src="../assets/images/1.png" alt="screenshot_1" />
				<img class="screenshot_1_shadow" src="../assets/images/iphone-shadow.png" />
				<div class="screenshot_1_text">
					<h2>Top news, at a glance.</h2>
					<p>Browse the ten latest stories with a single swipe.</p>
				</div>
			</li>
			<li>
				<img class="screenshot_2" src="../assets/images/2.png" alt="screenshot_2" />
				<img class="screenshot_2_shadow" src="../assets/images/iphone-shadow.png" />
				<div class="screenshot_2_text">
					<h2>Filter by section.</h2>
					<p>Jump straight to what you really want to read.</p>
				</div>
			</li>
			<li>
				<img class="screenshot_3" src="../assets/images/3.png" alt="screenshot_3" />
				<img class="screenshot_3_shadow" src="../assets/images/iphone-shadow.png" />
				<div class="screenshot_3_text">
					<h2>Teacher absences are here.</h2>
					<p>View the daily absent teacher list right on your phone.</p>
				</div>
			</li>
			<li>
				<img class="screenshot_4" src="../assets/images/4.png" alt="screenshot_4" />
				<img class="screenshot_4_shadow" src="../assets/images/iphone-shadow.png" />
				<div class="screenshot_4_text">
					<h2 style="text-align: left;">Sharing is easy.</h2>
					<p>Tweet or share on Facebook with a single tap without ever leaving the app.</p>
				</div>
			</li>
			<li>
				<img class="screenshot_5" src="../assets/images/5.png" alt="screenshot_5" />
				<img class="screenshot_5_shadow" src="../assets/images/iphone-shadow.png" />
				<div class="screenshot_5_text">
					<h2 style="text-align: left;">Search. For anything.</h2>
					<p>Discover old articles, or find your friends.</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<img class="arrow sequence-next" src="../assets/images/right_arrow.png" />

<div id="featuring_text">
	<h2>Featuring content from</h2>
	<a href="http://www.thelionsroar.com"><img class="newspaper_thumbnail" src="../assets/images/LionsRoarThumbnail.png" /></a>
	<h2> and </h2>
	<a href="http://www.nshsdenebola.com"><img class="newspaper_thumbnail" src="../assets/images/DenebolaThumbnail.png" /></a>
	<h2>.</h2>
</div>