<img class="arrow sequence-prev" src="../assets/images/left_arrow.png" />
<div id="sequence-theme">
	<div id="sequence">
		<ul class="sequence-canvas">
			<li class="animate-in">
				<img class="iphone" src="../assets/images/1.png" alt="screenshot_1" />
				<img class="iphone-shadow" src="../assets/images/iphone-shadow.png" />
				<div class="intro">
					<h2>Top news, at a glance.</h2>
					<p>Browse the ten latest stories with a single swipe.</p>
				</div>
			</li>
			<li>
				<img class="ipad" src="../assets/images/2.png" alt="screenshot_2" />
				<div class="slide2">
					<h2>Filter by section.</h2>
					<p>Jump straight to what you really want to read.</p>
				</div>
				<img class="iphone-shadow" src="../assets/images/iphone-shadow.png" />
			</li>
			<li>
				<div class="slide3">
					<h2>Teacher absences are here.</h2>
					<p>View the daily absent teacher list right on your phone.</p>
				</div>
				<img class="iphone2" src="../assets/images/3.png" alt="screenshot_3" />
				<img class="iphone2-shadow" src="../assets/images/iphone-shadow.png" />
			</li>
		</ul>
	</div>
</div>
<img class="arrow sequence-next" src="../assets/images/right_arrow.png" />

<div id="featuring_text">
	<h2>Featuring content from</h2>
	<a href="http://www.thelionsroar.com"><img class="newspaper_thumbnail" src="../assets/images/LionsRoarThumbnail.png" /></a>
	<h2> and </h2>
	<a href="http://www.nshsdenebola.com"><img class="newspaper_thumbnail" src="../assets/images/DenebolaThumbnail.png" /></a>
	<h2>.</h2>
</div>