@font-face {
    font-family: 'charcoal_cy';
    src: url('../fonts/charcoalcy.ttf');
}

body {
	/*background-color: #bcbcbc; */
	background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #FFFFFF 0%, #969696 100%);
}

h1 {
	font-family: charcoal_cy;
	font-size: 52px;
	color: #ff7f20;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 10px;

	clear: both;
}

h2 {
	font-family: Tahoma;
	font-size: 30px;
	color: black;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}

p {
	font-family: charcoal_cy;
}

footer {
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	text-align: center;

	clear: both;
}

a, a:visited {
  text-decoration: none;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

nav > ul > li {
	display: block;
	float: left;

	font-family: Tahoma;
	margin: 10px;
}

nav > ul > li > a {
	color: black;
}

nav > ul > li > a:hover {
	color: orange;
}

.screenshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.arrow {
	float: left;
	position: relative;
	top: 200px;

	opacity: .7;
}

.arrow:hover {
	cursor: pointer !important;
}

.sequence-prev {
	position: relative;
	left: 8%;
}

.sequence-next {
	position: relative;
	right: 8%;
}

.divider {
	width: 85%;
	height: 2px;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-linear-gradient(left, rgba(100,100,100,0), rgba(130,130,130,0.75), rgba(100,100,100,0));
}

#featuring_text {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#featuring_text > * {
	float: left;
}

.newspaper_thumbnail {
	position: relative;
	top: -10px;
}